# TON API Key (optional, a default one is provided)
TON_API_KEY=waka_a4e87d38-488d-4c76-b6eb-b892ba63c43e

# Wallet address (update with your own wallet address)
# WALLET_ADDRESS=EQDk8N7xM5D669LC2YACrseBJtDyFqwtSPCNhRWXU7kjEptX

# Collection address (update if mining a different collection)
# COLLECTION_ADDRESS=UQDKb2nMq7FDjtN5NIJk2CNqJufnk1967LJlxlBpdLETDRWg